body{
    border: 0;
    margin: 0 auto;
    padding: 0;
}
.haut{
    display: flex;
    color: #ffffff;
    background-color: #555;
    justify-content: space-around;
}
.haut1{
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    align-items: flex-end;
    
}
.conseils img{
=======
    
}
.panier img{
>>>>>>> 5bb2275f8798561ff0c643d3e0d165085c4725fa
    width: 50px;
}
.haut2{
    display: flex;
    justify-content: space-between;
}
.haut3{
    display: flex;
<<<<<<< HEAD
    
=======
>>>>>>> 5bb2275f8798561ff0c643d3e0d165085c4725fa
}
nav ul{
  display: flex;  
  text-decoration: none;
  text-transform: none;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(206, 206, 206);
  font-weight: bold;
  font-family: sans-serif;
}
.logo p{
    font-weight: bold;
    font-family: sans-serif;
}

nav ul li :nth-child(1){
   margin-left: 50px;
    
}
nav ul li :nth-child(10) {
    margin-right: 50px;

}
.bloc{
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD

=======
>>>>>>> 5bb2275f8798561ff0c643d3e0d165085c4725fa
}
.container{
    width: 1300px;
    margin: 0 auto;
}

.bloc2 p{
    color: #ffffff;
    background-color: magenta;
    text-align: center;
    font-weight: bold;
    margin-top: -4px;

}
<<<<<<< HEAD
.haut4{
    display: flex;
    flex-direction: column;
}
.bloc1 i{
    margin-top: 350px;
    background-color: magenta;
    height: 15px;
    color: #ffffff;
  
}
.bloc5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.devis img{
    position: relative;
    top: 60px;
    right: 64px;
}

.conseils img{
    position: relative;
    bottom: 60px;
    left: 86px;
 
    margin-right: 85px;
}
.devis1 img{
    position: relative;
    top: 60px;
    right: 64px;
    
}
.conseils{
    margin-top: -62px;
}
.devis1{
    margin-top: -63px;
}
.minibloc{
    display: flex;
    color: gray;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.minibloc2{
    display: flex;
    color: gray; 
    margin-top: 0px;
    margin-left: 50px;
    margin-top: -26px
}
.minibloc1{
    display: flex;
    color: gray;
}
.bloc6{
    background-color: black;
    color: blanchedalmond;
    opacity: 0.7;
    padding: 0px;
    margin-bottom: 15px;
    margin-top: -18px;
    margin-left: 50px;
    width: 775px;
}
.bloc6 p{
        
        margin-top: 0px;
}
.produit1 {
    background-color: magenta;
    color: #ffffff;
    width: 100px;
    height: 200px;
  

}
.triangle{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 50px solid transparent;
    border-bottom : 100px solid magenta;}
=======
>>>>>>> 5bb2275f8798561ff0c643d3e0d165085c4725fa
