body{
    width: 1300px ;
    margin: 0% auto;
    font-family: cursive;
}
header,footer{
    background-color: magenta;
    height: 100px;
    text-align: center;
    color: white;

    
}
nav{
    background-color: maroon;
    height: 60px;
    color: white;
    padding: 50px;
    padding-top: 10px;
}
section{
    background-color:rgb(57, 104, 57);
    height: 500px;
    padding: 50px;

}
section p{
    background-color: orange;
    height: 400px;
    padding-top: 10px;
    text-align: center;

}